In [2]:
import pandas as pd
import numpy as np

In [4]:
%matplotlib inline

In [19]:
from plotly import  __version__

In [22]:
import  as cf

ModuleNotFoundError: No module named 'CUFFLINKS'

In [11]:
df1 = pd.DataFrame(np.random.randn(100,4),columns = 'A B C D'.split())

In [14]:
df2 = pd.DataFrame({'category' : ['A','B','C'],'values' : [32,45,50]})

In [15]:
df2

  category  values
0        A      32
1        B      45
2        C      50